form .avatar{
    
    margin-bottom: 3%;
    width: 55px;
}

input[type=text],
input[type=textarea]{

        border-radius: 4px;
}

.navbar .container-avatar,
.pub-image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 25px;
    float: left;
}

.navbar .container-avatar img,
.pub-image .container-avatar img{
    height: 100%;
    width: 100%;

}

.pub-image{
    margin-bottom: 5%;
}

.pub-image .container-avatar{
    margin-right: 2%;
}

.data-user .container-avatar{
    height: 60%;
    width: 60%;
    padding: 1%;
    border-radius: 900px;
    overflow: hidden;
}
.data-user{
    padding: ;
}

.pub-image .data-user{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
}

.pub-image .nickname{
    color: gray;
}
.card-header{
    background-color: rgba(214, 214, 214, 0.575);
}

.card-body .image-public {
    height: 100%;
    width: 100%;
}
.card-body .image-public img{
    height: 100%;
    width: 100%;

}

.pub-image .card-body{
    padding: 0px;
}

.description-public{
    background-color: rgba(214, 214, 214, 0.575);;
    padding: 2%;
    margin-bottom: 1%;
    
}

.description-public p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.coment-like {
    margin: 3%;
    margin-top: 0px;
}

.description-public img{
    margin: 1%;
    margin-top: 0px;
    width: 4%;
    float: right;
}

.imagenDetalle{
    float: right;
}

.subir-comentario{
    width: 80%;
}